@import '../../init.scss';

.site-banner-demo {
  width: 300px;
  height: 200px;
  background-image: url('#{$base-path}/images/joshua-coleman-671580-unsplash.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.site-name {
  &:after {
    content: $icon-paint-format;
    @include icomoon;
  }
}
